In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("urban_pluvial_flood_risk_dataset.csv")

# Display first 5 rows
df.head()

,segment_id,city_name,admin_ward,latitude,longitude,catchment_id,elevation_m,dem_source,land_use,soil_group,drainage_density_km_per_km2,storm_drain_proximity_m,storm_drain_type,rainfall_source,historical_rainfall_intensity_mm_hr,return_period_years,risk_labels
0,SEG-00001,"Colombo, Sri Lanka",Borough East,6.920633,79.912600,CAT-136,NaN,Copernicus_EEA-10_v5,Institutional,NaN,4.27,160.5,CurbInlet,ERA5,39.4,50,monitor
1,SEG-00002,"Chennai, India",Ward D,13.076487,80.281774,CAT-049,-2.19,Copernicus_EEA-10_v5,Residential,D,7.54,NaN,OpenChannel,ERA5,56.8,25,ponding_hotspot|low_lying|event_2025-05-02
2,SEG-00003,"Ahmedabad, India",Sector 12,23.019473,72.638578,CAT-023,30.88,SRTM_3arc,Industrial,B,11.00,152.5,OpenChannel,IMD,16.3,5,monitor
3,SEG-00004,"Hong Kong, China",Sector 14,22.302602,114.078673,CAT-168,24.28,SRTM_3arc,Residential,B,7.32,37.0,Manhole,ERA5,77.0,10,monitor
4,SEG-00005,"Durban, South Africa",Sector 5,-29.887602,30.911008,CAT-171,35.70,SRTM_3arc,Industrial,C,4.50,292.4,OpenChannel,ERA5,20.8,5,monitor

In [3]:
import os
os.getcwd()

'C:\\Users\\shash\\flood project'

In [4]:
# Basic info about dataset
df.info()

# Check for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2963 entries, 0 to 2962
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   segment_id                           2963 non-null   object
 1   city_name                            2963 non-null   object
 2   admin_ward                           2963 non-null   object
 3   latitude                             2963 non-null   float64
 4   longitude                            2963 non-null   float64
 5   catchment_id                         2963 non-null   object
 6   elevation_m                          2802 non-null   float64
 7   dem_source                           2963 non-null   object
 8   land_use                             2963 non-null   object
 9   soil_group                           2601 non-null   object
 10  drainage_density_km_per_km2          2679 non-null   float64
 11  storm_drain_proximity_m              2724 non-null   float64
 12  storm_drain_type                     2785 non-null   object
 13  rainfall_source                      2648 non-null   object
 14  historical_rainfall_intensity_mm_hr  2963 non-null   float64
 15  return_period_years                  2963 non-null   int64
 16  risk_labels                          2963 non-null   object
dtypes: float64(6), int64(1), object(10)
memory usage: 393.7+ KB

segment_id                               0
city_name                                0
admin_ward                               0
latitude                                 0
longitude                                0
catchment_id                             0
elevation_m                            161
dem_source                               0
land_use                                 0
soil_group                             362
drainage_density_km_per_km2            284
storm_drain_proximity_m                239
storm_drain_type                       178
rainfall_source                        315
historical_rainfall_intensity_mm_hr      0
return_period_years                      0
risk_labels                              0
dtype: int64

In [5]:
# Summary statistics for numerical columns
df.describe()

,latitude,longitude,elevation_m,drainage_density_km_per_km2,storm_drain_proximity_m,historical_rainfall_intensity_mm_hr,return_period_years
count,2963.000000,2963.000000,2802.000000,2679.000000,2724.000000,2963.000000,2963.000000
mean,19.399103,31.676123,37.689818,6.290866,123.202203,43.811441,19.730003
std,24.446320,79.542482,38.708958,2.187365,107.764541,25.221200,25.182883
min,-36.999038,-123.292949,-3.000000,1.270000,0.200000,5.400000,2.000000
25%,6.580006,-43.124581,8.725000,4.670000,47.975000,25.800000,5.000000
50%,23.760802,36.889173,25.130000,6.250000,91.700000,37.900000,10.000000
75%,37.887422,101.701136,59.620000,7.830000,162.625000,55.550000,25.000000
max,55.821219,174.911271,266.700000,12.070000,751.700000,150.000000,100.000000

In [7]:
# List all columns and their types
df.dtypes

segment_id                              object
city_name                               object
admin_ward                              object
latitude                               float64
longitude                              float64
catchment_id                            object
elevation_m                            float64
dem_source                              object
land_use                                object
soil_group                              object
drainage_density_km_per_km2            float64
storm_drain_proximity_m                float64
storm_drain_type                        object
rainfall_source                         object
historical_rainfall_intensity_mm_hr    float64
return_period_years                      int64
risk_labels                             object
dtype: object

In [8]:
# Drop ID columns (like segment IDs or codes)
df = df.drop(['SegmentID', 'SomeOtherIDColumn'], axis=1, errors='ignore')

In [9]:
# Encode remaining categorical columns
categorical_cols = df.select_dtypes(include='object').columns
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [10]:
df.head()

,latitude,longitude,elevation_m,drainage_density_km_per_km2,storm_drain_proximity_m,historical_rainfall_intensity_mm_hr,return_period_years,segment_id_SEG-00002,segment_id_SEG-00003,segment_id_SEG-00004,...,risk_labels_sparse_drainage|event_2024-05-25,risk_labels_sparse_drainage|event_2024-06-03,risk_labels_sparse_drainage|event_2024-06-20,risk_labels_sparse_drainage|event_2024-06-28,risk_labels_sparse_drainage|event_2024-07-24,risk_labels_sparse_drainage|event_2024-09-03,risk_labels_sparse_drainage|event_2024-11-13,risk_labels_sparse_drainage|event_2025-02-13,risk_labels_sparse_drainage|event_2025-05-16,risk_labels_sparse_drainage|event_2025-06-17
0,6.920633,79.912600,NaN,4.27,160.5,39.4,50,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,13.076487,80.281774,-2.19,7.54,NaN,56.8,25,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,23.019473,72.638578,30.88,11.00,152.5,16.3,5,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,22.302602,114.078673,24.28,7.32,37.0,77.0,10,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,-29.887602,30.911008,35.70,4.50,292.4,20.8,5,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
# List all column names
df.columns

Index(['latitude', 'longitude', 'elevation_m', 'drainage_density_km_per_km2',
       'storm_drain_proximity_m', 'historical_rainfall_intensity_mm_hr',
       'return_period_years', 'segment_id_SEG-00002', 'segment_id_SEG-00003',
       'segment_id_SEG-00004',
       ...
       'risk_labels_sparse_drainage|event_2024-05-25',
       'risk_labels_sparse_drainage|event_2024-06-03',
       'risk_labels_sparse_drainage|event_2024-06-20',
       'risk_labels_sparse_drainage|event_2024-06-28',
       'risk_labels_sparse_drainage|event_2024-07-24',
       'risk_labels_sparse_drainage|event_2024-09-03',
       'risk_labels_sparse_drainage|event_2024-11-13',
       'risk_labels_sparse_drainage|event_2025-02-13',
       'risk_labels_sparse_drainage|event_2025-05-16',
       'risk_labels_sparse_drainage|event_2025-06-17'],
      dtype='object', length=3515)

# 🌊 AI-ML Project: Urban Flood & Oil Spill Risk Prediction

This project focuses on predicting **urban flood risks** by combining **natural factors** (rainfall, soil, climate change) and **man-made factors** (urbanization, poor drainage, oil spills, infrastructure issues).

## 📝 Problem Statement

Urban pluvial flooding is caused not only by **natural factors** such as heavy rainfall, soil saturation, and changing climate patterns, but also by **man-made drivers** like unplanned urbanization, poor drainage systems, and blocked sewage lines.  

Additionally, **industrial oil spills and leakages** intensify the flooding impact by clogging drainage systems, contaminating water bodies, and slowing down recovery efforts.  

There is an urgent need for a **Machine Learning-based solution** that integrates both **natural (rainfall, soil, climate)** and **man-made (drainage, oil spills, infrastructure)** factors to predict urban flood risks accurately.  

Such a system would help **city planners, policymakers, and disaster management authorities** in proactive decision-making, minimizing both human and environmental losses.

## 🎯 Objectives

1. To analyze natural (rainfall, soil, climate) and man-made (urbanization, drainage, oil spills) factors contributing to urban flooding.  
2. To preprocess and clean real-world datasets for training Machine Learning models.  
3. To apply classification/regression algorithms for predicting flood risk levels.  
4. To validate and compare model performance using accuracy and error metrics.  
5. To provide actionable insights for **urban planners and disaster management authorities**.

## 📊 Dataset Information

- **Dataset Name**: Urban Pluvial Flood Risk Dataset  
- **Format**: CSV  
- **Key Features**:  
  - `Segment_ID` → Urban segment reference  
  - `Rainfall` → Rainfall intensity (mm/hr)  
  - `Soil_Type` → Soil absorption capacity  
  - `Land_Use` → Urban / Industrial / Residential zones  
  - `Drainage_Capacity` → Condition of drainage infrastructure  
  - `Oil_Spill` → Presence of industrial oil leakage (Yes/No)  
  - `Flood_Risk_Level` → Target variable (Low, Medium, High)

In [17]:
# Load dataset
df = pd.read_csv("urban_pluvial_flood_risk_dataset.csv")

# Display first 5 rows
df.head()

,segment_id,city_name,admin_ward,latitude,longitude,catchment_id,elevation_m,dem_source,land_use,soil_group,drainage_density_km_per_km2,storm_drain_proximity_m,storm_drain_type,rainfall_source,historical_rainfall_intensity_mm_hr,return_period_years,risk_labels
0,SEG-00001,"Colombo, Sri Lanka",Borough East,6.920633,79.912600,CAT-136,NaN,Copernicus_EEA-10_v5,Institutional,NaN,4.27,160.5,CurbInlet,ERA5,39.4,50,monitor
1,SEG-00002,"Chennai, India",Ward D,13.076487,80.281774,CAT-049,-2.19,Copernicus_EEA-10_v5,Residential,D,7.54,NaN,OpenChannel,ERA5,56.8,25,ponding_hotspot|low_lying|event_2025-05-02
2,SEG-00003,"Ahmedabad, India",Sector 12,23.019473,72.638578,CAT-023,30.88,SRTM_3arc,Industrial,B,11.00,152.5,OpenChannel,IMD,16.3,5,monitor
3,SEG-00004,"Hong Kong, China",Sector 14,22.302602,114.078673,CAT-168,24.28,SRTM_3arc,Residential,B,7.32,37.0,Manhole,ERA5,77.0,10,monitor
4,SEG-00005,"Durban, South Africa",Sector 5,-29.887602,30.911008,CAT-171,35.70,SRTM_3arc,Industrial,C,4.50,292.4,OpenChannel,ERA5,20.8,5,monitor

In [18]:
# Basic info about dataset
df.info()

# Check for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2963 entries, 0 to 2962
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   segment_id                           2963 non-null   object
 1   city_name                            2963 non-null   object
 2   admin_ward                           2963 non-null   object
 3   latitude                             2963 non-null   float64
 4   longitude                            2963 non-null   float64
 5   catchment_id                         2963 non-null   object
 6   elevation_m                          2802 non-null   float64
 7   dem_source                           2963 non-null   object
 8   land_use                             2963 non-null   object
 9   soil_group                           2601 non-null   object
 10  drainage_density_km_per_km2          2679 non-null   float64
 11  storm_drain_proximity_m              2724 non-null   float64
 12  storm_drain_type                     2785 non-null   object
 13  rainfall_source                      2648 non-null   object
 14  historical_rainfall_intensity_mm_hr  2963 non-null   float64
 15  return_period_years                  2963 non-null   int64
 16  risk_labels                          2963 non-null   object
dtypes: float64(6), int64(1), object(10)
memory usage: 393.7+ KB

segment_id                               0
city_name                                0
admin_ward                               0
latitude                                 0
longitude                                0
catchment_id                             0
elevation_m                            161
dem_source                               0
land_use                                 0
soil_group                             362
drainage_density_km_per_km2            284
storm_drain_proximity_m                239
storm_drain_type                       178
rainfall_source                        315
historical_rainfall_intensity_mm_hr      0
return_period_years                      0
risk_labels                              0
dtype: int64

In [19]:
# Summary statistics for numerical columns
df.describe()

,latitude,longitude,elevation_m,drainage_density_km_per_km2,storm_drain_proximity_m,historical_rainfall_intensity_mm_hr,return_period_years
count,2963.000000,2963.000000,2802.000000,2679.000000,2724.000000,2963.000000,2963.000000
mean,19.399103,31.676123,37.689818,6.290866,123.202203,43.811441,19.730003
std,24.446320,79.542482,38.708958,2.187365,107.764541,25.221200,25.182883
min,-36.999038,-123.292949,-3.000000,1.270000,0.200000,5.400000,2.000000
25%,6.580006,-43.124581,8.725000,4.670000,47.975000,25.800000,5.000000
50%,23.760802,36.889173,25.130000,6.250000,91.700000,37.900000,10.000000
75%,37.887422,101.701136,59.620000,7.830000,162.625000,55.550000,25.000000
max,55.821219,174.911271,266.700000,12.070000,751.700000,150.000000,100.000000